{% extends "blog/base.html" %}

{% block title %} Compartilhar Postagem {% endblock %}

{% block content %}

    {% if sent %}
        <h1>Postagem enviada com sucesso!</h1>
        <p>
           A postagem "{{ post.title}}" foi enviada com sucesso para {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Compartilhe "{{ post.title}}" por e-mail</h1>
        <form method="post">
            {{ form.as_p}}
            {% csrf_token %}
                <input type="submit" value="Enviar">
         </form>
    {% endif %}
{% endblock %}